<%= form_for [@game, @play], role: "form", class: "game-form" do |f| %>
  <div class="form-group">
    <%= f.label :date, class: "control-label col-sm-2" %>
    <div class="sm-col-7">
    <%= f.date_field :date, placeholder: "mm/dd/yy", class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :image, value: "Image URL", class: "control-label col-sm-2" %>
    <div class="sm-col-7">
    <%= f.text_field :image, placeholder: "http://", class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :num_floors, value: "Number of Floors (1 - 3)", class: "control-label col-sm-2" %>
    <div class="sm-col-7">
    <%= f.text_field :num_floors, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :player_one_character, class: "control-label col-sm-2" %>
    <div class="sm-col-7">
    <%= f.text_field :player_one_character, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :player_two_character, class: "control-label col-sm-2" %>
    <div class="sm-col-7">
    <%= f.text_field :player_two_character, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :player_three_character, class: "control-label col-sm-2" %>
    <div class="sm-col-7">
    <%= f.text_field :player_three_character, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :player_four_character, class: "control-label col-sm-2" %>
    <div class="sm-col-7">
    <%= f.text_field :player_four_character, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :loot, class: "control-label col-sm-2" %>
    <div class="sm-col-7">
    <%= f.text_field :loot, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :tools, class: "control-label col-sm-2" %>
    <div class="sm-col-7">
    <%= f.text_field :tools, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :events, class: "control-label col-sm-2" %>
    <div class="sm-col-7">
    <%= f.text_field :events, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :winner, value: "Who won? Enter 'players' or 'game'", class: "control-label col-sm-2" %>
    <div class="sm-col-7">
    <%= f.text_field :winner, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-7">
    <%= f.submit :Submit, class: 'btn btn-success' %>
    </div>
  </div>
<% end %>
