<div class="show-header">
  <h2>Burgle Bros.</h2>
</div>
<div class="game-info">
  <p class="star-rating">Star rating (out of 5): <%= @game.num_stars %></p>
  <p class="buy-this-link"><%= link_to "Buy this game", @game.purchase_url %></p>
  <!-- temp hardcode link to rules - will need to update migration if app expands to more game types -->
  <p class="rule-link"><a href="https://drive.google.com/file/d/0B2MYuVG_ZCKnX2JsTi00TUYydFE/view" target="_blank">Rules</a></p>
  <p><%= link_to "Characters", game_characters_path %>
  <div class="action-buttons">
    <p><%= link_to "Edit #{@game.title} Info", edit_game_path(@game) %></p>
    <p><%= link_to "Create New Game Played", new_game_play_path(@game) %></p>
  </div>
</div>
